@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

body {
  background-color: #36382E;
  color: #36382E;
  font-family: "Roboto", sans-serif;
  padding: 35px 50px; }
  @media only screen and (max-width: 750px) {
    body {
      padding: 0;
      background-color: #EDE6E3; } }

.container {
  background-color: #EDE6E3;
  background: linear-gradient(to top right, #ede6e3 64%, #dadad9 113%); }
  .container header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 75px;
    padding: 25px;
    margin-bottom: 50px; }
    @media only screen and (max-width: 750px) {
      .container header {
        flex-direction: column;
        margin-bottom: 15px;
        padding: 15px; } }
    .container header .logo {
      flex: 2;
      font-size: 1.5em;
      font-weight: 300; }
      @media only screen and (max-width: 750px) {
        .container header .logo {
          text-align: left;
          margin-bottom: 15px;
          font-weight: 400;
          padding-top: 5px; } }
      @media only screen and (min-width: 1300px) {
        .container header .logo {
          font-size: 1.7em;
          padding-top: 5px; } }
    .container header ul {
      flex: 2;
      list-style: none;
      text-align: right;
      margin-top: 5px; }
      @media only screen and (max-width: 750px) {
        .container header ul {
          display: none; } }
      @media only screen and (min-width: 1300px) {
        .container header ul {
          text-align: right;
          flex: 1; } }
      .container header ul li {
        display: inline-block;
        font-weight: 300;
        margin-left: 10px; }
        @media only screen and (max-width: 750px) {
          .container header ul li {
            margin: 0 5px; } }
        @media only screen and (min-width: 1300px) {
          .container header ul li {
            font-size: 1.5em; } }
        .container header ul li a {
          text-decoration: none;
          color: #36382E;
          transition: 0.3s; }
          .container header ul li a:hover {
            color: #F06449; }
    .container header .hamburger {
      display: none; }
      @media only screen and (max-width: 750px) {
        .container header .hamburger {
          display: inline;
          opacity: 0.5;
          background-color: #36382E;
          padding: 5px;
          position: fixed;
          top: 10px;
          right: 10px; }
          .container header .hamburger span {
            color: #EDE6E3;
            font-size: 1.5em; } }
    .container header #mobileMenu {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 50%;
      height: 100%;
      padding: 15px;
      padding-top: 50px;
      background-color: #36382E;
      color: #EDE6E3; }
      .container header #mobileMenu span {
        display: inline-block;
        flex: 1;
        text-align: center; }
        .container header #mobileMenu span a {
          text-decoration: none;
          color: #EDE6E3; }
      .container header #mobileMenu .mobileMenuItem {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase; }
  .container .hero {
    padding: 25px; }
    .container .hero h1 {
      font-weight: 400;
      margin-bottom: 50px; }
      @media only screen and (max-width: 750px) {
        .container .hero h1 {
          text-align: center; } }
      @media only screen and (min-width: 1300px) {
        .container .hero h1 {
          font-size: 3em;
          font-weight: 600; } }
    .container .hero p {
      font-weight: 300;
      max-width: 500px;
      line-height: 35px; }
      @media only screen and (min-width: 1300px) {
        .container .hero p {
          font-size: 1.5em;
          max-width: 900px;
          line-height: 55px; } }
      .container .hero p .highlight {
        background-color: #36382E;
        font-weight: 400;
        color: white;
        padding: 0 2px; }
  .container .threePane {
    display: flex;
    flex-direction: row;
    background-color: #F06449;
    height: 100%;
    padding: 25px;
    text-align: center; }
    @media only screen and (max-width: 750px) {
      .container .threePane {
        flex-direction: column;
        height: 100%; } }
    .container .threePane div {
      flex: 1; }
      .container .threePane div h2 {
        display: inline-block;
        height: 70px;
        font-size: 2em;
        margin-bottom: 30px; }
      .container .threePane div .threePaneIcon {
        margin-bottom: 35px; }
      .container .threePane div p {
        font-weight: 300; }
        @media only screen and (max-width: 750px) {
          .container .threePane div p {
            margin-bottom: 25px; } }

/*# sourceMappingURL=style.css.map */
