@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')

//var
$font: 'Roboto', sans-serif

$black: #36382E
$white: #EDE6E3
$blue: #5BC3EB
$red: #F06449
$grey: #DADAD9
$cedar: #C5523C


*
  margin: 0
  padding: 0
  outline: none
  box-sizing: border-box

@mixin phone
  @media only screen and (max-width: 750px)
    @content
@mixin fullScreen
  @media only screen and (min-width: 1300px)
    @content

body
  background-color: $black
  color: $black
  font-family: $font
  padding: 35px 50px
  @include phone
    padding: 0
    background-color: $white


.container
  background-color: $white
  background: linear-gradient(to top right, #ede6e3 64%, #dadad9 113%)
  
  
  header
    position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    height: 75px
    padding: 25px
    margin-bottom: 50px
    
    @include phone
      flex-direction: column
      margin-bottom: 15px
      padding: 15px     

    .logo
      flex: 2
      font-size: 1.5em
      font-weight: 300      
      @include phone
        text-align: left
        margin-bottom: 15px
        font-weight: 400
        padding-top: 5px
      @include fullScreen
        font-size: 1.7em
        padding-top: 5px        
      
    ul
      flex: 2
      list-style: none
      text-align: right
      margin-top: 5px
      @include phone        
        display: none
      @include fullScreen
        text-align: right
        flex: 1
        
      
      li
        display: inline-block
        font-weight: 300
        margin-left: 10px
        @include phone
          margin: 0 5px
        @include fullScreen
          font-size: 1.5em

        a
          text-decoration: none
          color: $black
          transition: 0.3s
          &:hover
            color: $red
    .hamburger
      display: none
      
      @include phone
        display: inline
        opacity: 0.5
        background-color: $black
        padding: 5px 
        position: fixed
        top: 10px
        right: 10px
        span
          color: $white
          font-size: 1.5em

    #mobileMenu
      display: none      
      flex-direction: column
      position: fixed
      top: 0px
      left: 0px
      width: 50%
      height: 100%
      padding: 15px
      padding-top: 50px       
      background-color: $black
      color: $white
      span
        display: inline-block
        flex: 1
        text-align: center        
        a
          text-decoration: none
          color: $white
      .mobileMenuItem
        font-size: 1.5em
        font-weight: 700
        text-transform: uppercase
        


      
      

  //end header
  .hero
    padding: 25px
    h1
      font-weight: 400
      margin-bottom: 50px
      @include phone
        text-align: center
      @include fullScreen
        font-size: 3em
        font-weight: 600
    p
      font-weight: 300
      max-width: 500px
      line-height: 35px
      @include fullScreen
        font-size: 1.5em
        max-width: 900px
        line-height: 55px
      .highlight
        background-color: $black
        font-weight: 400
        color: white
        padding: 0 2px
      
  .threePane
    display: flex
    flex-direction: row
    background-color: $red
    height: 100%
    padding: 25px
    text-align: center
    @include phone
      flex-direction: column
      height: 100%
    div
      flex: 1
      
      .threePaneHcontain
        height: 125px
        h2
          display: inline-block
          height: 70px
          font-size: 2em
        
      .threePaneIcon
        height: 125px
        margin-bottom: 35px
    
      p
        font-weight: 300
        max-width: 200px
        margin: 0 auto
        line-height: 25px
        @include phone          
          margin-bottom: 25px
          width: 100%
        @include fullScreen
          max-width: 325px

  .quickContact
    background-color: $white
    color: $black
    padding: 15px
    @include phone
      text-align: center
      

    h2
      font-size: 2em
      margin-bottom: 15px
      @include phone
        font-size: 1.5em
        line-height: 35px
    p
      color: $black
      margin-bottom: 30px

    form
      input
        border: none
        // border-bottom: 2px solid $red
        border: 2px solid $red
        background-color: $white
        height: 35px
        margin-bottom: 15px
        width: 50%
        padding: 5px
      textarea
        resize: none
        border: 2px solid $red
        background-color: $white
        color: $black
        font-family: $font
        width: 50%
        padding: 5px
        margin-bottom: 15px
      button
        border: 2px solid $red
        background: $red
        padding: 5px
        cursor: pointer
        margin-right: 5px
      #btnClear
        background-color: $white 

      @include phone
        input, textarea
          width: 90%
      @include fullScreen
        input, textarea
          width: 500px

        

        
          

    